<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="GoogleAppIndexingWarning">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
        <!--
        <package android:name="com.wickr.pro" />
        <package android:name="com.wickr.pro.beta" />
        <package android:name="com.wickr.enterprise" />
        <package android:name="com.wickr.enterprise.beta" /> -->
    </queries>
    <application 
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_desc"
        android:extractNativeLibs="true"
        android:grantUriPermissions="true"
        android:theme="@style/AppTheme" >
        <meta-data android:name="plugin-api" android:value="${atakApiVersion}"/>
        <meta-data android:name="app_desc" android:value="@string/app_desc"/>

        <service
            android:name="com.atakmap.android.wickr.service.HealthWearListenerService"
            android:exported="true">

            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <action android:name="com.google.android.gms.wearable.REQUEST_RECEIVED" />
                <action android:name="com.google.android.gms.wearable.CAPABILITY_CHANGED" />
                <action android:name="com.google.android.gms.wearable.CHANNEL_EVENT" />

                <data android:scheme="wear"/>
                <data android:host="*"/>
                <data android:pathPrefix="/msg"/>
                <data android:pathPrefix="/msg/wear_hr_data"/>
                <data android:pathPrefix="/msg/wear_spo2_data"/>

            </intent-filter>
        </service>

       <!-- This fictitious activity entry allow for ATAK 4.6.0.2 and newer to perform 
            plugin discovery  android devices.  If this is removed, the plugin will 
            not be able to be discovered or loaded.  -->
       <activity android:name="com.atakmap.app.component"
           tools:ignore="MissingClass" android:exported="true">
           <intent-filter android:label="@string/app_name">
              <action android:name="com.atakmap.app.component" />
           </intent-filter>
       </activity>

    </application>

</manifest>
